<a mat-stroked-button class="menu-button" routerLink="/admin">
    <mat-icon class="menu-icon">dashboard</mat-icon>
    <span>Dashboard</span>
</a>
<a mat-stroked-button class="menu-button" routerLink="customers" >
    <mat-icon class="menu-icon">people</mat-icon>
    <span>Customers</span>
</a>
<a mat-stroked-button class="menu-button" routerLink="products" >
    <mat-icon class="menu-icon" >shopping_cart</mat-icon>
    <span>Products</span>
</a>
<a mat-stroked-button class="menu-button" routerLink="orders" >
    <mat-icon class="menu-icon">assignment</mat-icon>
    <span>Orders</span>
</a>
<a mat-stroked-button class="menu-button" routerLink="">
    <mat-icon class="menu-icon">language</mat-icon>
    <span>View Web Site</span>
</a>


